.video-roll-download {
    width: 100%;
    height: 100%;
}

.van-popover__wrapper {
    width: 100%;
    height: 100%;
}

.video-roll-recording {
    background-color: rgb(250, 84, 75) !important;
}

